extends md, mdx

snippet "topic template"["A template for topics in the tech vimwiki"]
# Topic Index

## Description

This section defines the topic or subtopic, at least within this context.

## Subtopics

- [[subtopic|Subtopic]]
- [[subtopic|Subtopic]]
- [[subtopic|Subtopic]]

## Notes

- These are various notes
- Relating to the topic itself 
- and my experience with it 

## Articles

- Article 1
- Article 2
- Book 1
- Video 1

## Courses 

- Course 1 
- Course 2
endsnippet


